a {
  cursor: pointer;
}

ul {
  list-style: none;
}

.hamburger {
  height: 27px;
  width: 50px;
  margin-right: 2rem;
  margin-top: 2.3rem;
  position: absolute;
  top: 10px;
  right: 3%;
  display: inline-block;
  vertical-align: middle;
  z-index: 20;
}

.hamburger span {
  display: block;
  background: #008D65;
  width: 100%;
  height: 1.5px;
  margin-top: -1px;
  position: absolute;
  left: 0;
  top: 50%;
}

.hamburger:before,
.hamburger:after {
  content: "";
  display: block;
  background: #008D65;
  width: 100%;
  height: 1.5px;
  position: absolute;
  left: 0;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.hamburger:before {
  top: 1px;
  margin-top: -1px;
}

.hamburger:after{
  bottom: 1px;
  margin-bottom: -1px;
}

.menu-shown .hamburger span {
  background: transparent;
}

.menu-shown .hamburger:before {
  top: 50%;
  transform: rotate(45deg);
}

.menu-shown .hamburger:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.menu-screen.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 112px;
  background: white;
  z-index: 10;
  transition: all .4s ease-in-out;
  transform: translateX(-100%);
  scroll-margin: 100vh;
}

.menu-shown .menu-screen.menu {
  transform: translateX(0);
}

.menu-screen .page-title {
  display: block;
  line-height: 2;
}

.page-title {
  font-family: collier, Optima, sans-serif;
  font-weight: 200;
  line-height: -0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-kerning: normal;
  color: black;
  border: 1.5px #008D65 solid;
  border-right-width: 0;
  border-left-width: 0;
  margin-bottom: -1.5px;
  transition: 300ms;
}

.page-title.no-click {
  color: #A0A0A0;
}

.page-title.no-click:hover {
  background: transparent;
  color: #A0A0A0;
}

.page-title:hover {
  background: #008D65;
  color: white;
}

/*
.nav-link {
  font-family: collier, Optima, sans-serif;
  font-weight: 300;
  line-height: -0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-kerning: normal;
  color: black;
  width: 50px;
}
