* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: auto;
}

#home-head {
    justify-content: space-between;
    padding: 2rem;
    height: 29vh;
}

.head {
    justify-content: space-between;
    padding: 2rem;
    height: 18vh;
}

.logo {
    width: 90px;
}

p {
    font-family: neue-haas-grotesk-text, Helvetica, Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
}

h1 {
    font-family: collier, Optima, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin: 0;
    line-height: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

#title {
    font-weight: 200;
    font-size: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#subtitle {
    font-family: neue-haas-grotesk-display, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2rem;
    width: 100%;
    left: 0;
}

iframe {
    display: none;
}

h2 {
    font-family: collier, Optima, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin: 0;
    line-height: 3rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: block;
}

h3 {
    font-family: neue-haas-grotesk-display, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2rem;
    padding-bottom: 0.5rem;
}

#text-body{
    padding-left: 2rem;
    padding-right: 2rem;
}

main {
    margin: auto;
}

#home-text{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    left: 0;
    margin-top: -5rem;
}

#home-img {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
}

.btn {
    font-family: neue-haas-grotesk-text, Helvetica, Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    padding: 0.6rem;
    border: 1.5px #008D65 solid;
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: #008D65;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    transition: 300ms;
    background: none;
    cursor: pointer;
}

.btn:hover {
    background: #008D65;
    color: white;
}

#arrow-top {
    width: 65px;
}

.back-to-top-text {
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #008D65;
}

.back-to-top {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    cursor: pointer;
}

.address p{
    font-size: 1rem;
    text-align: center;
    color: #A0A0A0;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.pp-link {
    color: #008D65;
}

/* IMAGE SLIDER */

.wrapper {
    width: 100%;
    overflow: hidden;
}

.slide-container {
    height: 300px;
    position: relative;
    transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
}

.slide-image {
    height: 100%;
    width: 100%;
    position: absolute;
}

.slide-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#arrow-left,
#arrow-right {
    width: 50px;
}

.prev-btn,
.next-btn {
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.slide-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

/* NAV DOTS */

.navigation-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.single-dot {
    height: 16px;
    width: 16px;
    border: 1.5px solid #008D65;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    transition: 300ms;
}

.single-dot:hover {
    background:  #008D65;
}

.single-dot.active {
    background:  #008D65;
}

/* TEXT SLIDER */

.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    padding-bottom: 5rem;
    padding-top: 2rem;
    transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
}

.slideshow-container img {
    object-fit: cover;
    width: 100%;
}
  
  /* Slides */
.mySlides {
    display: absolute;
    padding-top: 60px;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
}

  /* The dot/bullet/indicator container */
  .dot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 16px;
    width: 16px;
    border: 1.5px solid #008D65;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    transition: 300ms;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background:  #008D65;
  }
  
  /* Add an italic font style to all quotes */
q {
    
    font-family: neue-haas-grotesk-text, Helvetica, Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    font-style: italic;
}

.author {
    font-size: 1rem;
    color: #008D65
}

  
  /* Add a blue color to the author */

/* SUB-PAGE ONLY */

.sub-img {
   width: 100%;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

/* CONTACT FORMS */

.form-wrap {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
}

.contact-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#col-1 {
    padding-left: 2rem;
    padding-right: 2rem;
}

#contact-intro {
    padding-left: 2rem;
    padding-right: 2rem;
}

.input-fields, .msg {
    display: flex;
    flex-direction: column;
}

.input-fields .input,
.msg textarea {
    font-family: neue-haas-grotesk-text, Helvetica, Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    background: transparent;
    border: 1.5px solid #008D65;
    padding: 10px;
    margin-bottom: -1.5px;
}

.msg textarea {
    height: 250px;
    resize: vertical;
}

::-moz-placeholder{
    color: #A0A0A0;
    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

::-ms-placeholder{
    color: #A0A0A0;
    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

::-webkit-placeholder{
    color: #A0A0A0;
    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.thanks {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.thanks h1 {
    padding: 0;
    font-size: 4.5rem;
    color: #008D65;
    padding-bottom: 1.5rem;
}

.thanks h2 {
    font-family: neue-haas-grotesk-display, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2rem;
    padding-bottom: 0.5rem;
    color:  #A0A0A0;
    padding-bottom: 1.5rem;
}

.thanks p {
    color: #008D65;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}

/* DESKTOP */

@media only screen and (min-width: 768px) {
   .this-content {
       width: 70%;
       float: right;
   }

   .wrap-slide-nav {
       width: 100%;
       display: flex;
       flex-direction: row-reverse;
       padding-right: 4rem;
       padding-bottom: 1rem;
   }

   .slide-nav {
       padding-left: 4rem;
       padding-right: 0.7rem;
   }

   #text-body {
       padding-right: 4rem;
       padding-left: 30%;
   }

   .slide-container {
       height: 550px;
       padding-right: 4rem;
   }

   h1 {
       font-size: 5rem;
   }

   h2 {
       font-size: 5rem;
   }

   .sub-img {
       padding-right: 4rem;
       padding-left: 30%;
   }

   p {
       font-size: 1rem;
   }

   q {
       font-size: 0.8rem;
   }

   .author {
       font-size: 0.8rem;
   }

   footer .back-to-top {
       float: right;
       padding-right: 4rem;
       padding-bottom: 0rem;
   }

   footer .back-to-top-text {
       font-size: 0.8rem;
   }

   footer .address p {
       float: left;
       text-align: left;
       font-size: 0.8rem;
       padding-left: 4rem;
   }

   .btn {
       font-size: 1rem;
       width: 25%;
   }

   #title {
       font-size: 5rem;
   }

   iframe {
    width: 100%;
    display: block;
   }

   #text-form-wrap {
       display: flex;
       flex-direction: row;
   }

   #col-2 {
       width: 70%;
       float: right;
   }

   #col-1 {
       width: 30%;
       padding-top: 2rem;
       padding-left: 4rem;
   }

   .form-wrap {
       padding-right: 4rem;
       padding-top: 2rem;
   }

   #contact-intro {
       padding-right: 4rem;
       padding-left: 4rem;
       padding-top: 2rem;
   }

   .input-fields .input,
   .msg textarea {
       font-family: neue-haas-grotesk-text, Helvetica, Arial,sans-serif;
       font-weight: 400;
       font-style: normal;
       font-size: 1rem;
       background: transparent;
       border: 1.5px solid #008D65;
       padding: 10px;
       margin-bottom: -1.5px;
}  

   .thanks h1 {
       font-size: 6rem;
}

}
