* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    height: auto;
}

#head {
    justify-content: space-between;
    padding: 2rem;
}

#logo {
    width: 90px;
}

p {
    font-family: neue-haas-grotesk-text, Helvetica, Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
}

h1 {
    font-family: collier, Optima, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin: 0;
    line-height: 3rem;
}

#title {
    font-weight: 200;
    font-size: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#subtitle {
    font-family: neue-haas-grotesk-display, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2rem;
}

h2 {
    font-family: collier, Optima, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin: 0;
}

#home-body{
    padding-left: 2rem;
    padding-right: 2rem;
}

main {
    margin: auto;
}

#home-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home-img {
    display: flex;
    width: 100%;
    height: auto;
}

.btn {
    font-family: neue-haas-grotesk-text, Helvetica, Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    padding: 0.6rem;
    border: 1.5px #008D65 solid;
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: #008D65;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
}

.btn:hover {
    background: #008D65;
    color: white;
}

footer p{
    font-size: 1rem;
    text-align: center;
    color: #008D65;
    padding-bottom: 2rem;
    padding-top: 1rem;
}