:root {
   --backgroundSize: 235px;
}

body { 
   margin: 30;
   background-image: url(images/pattern.svg);
   background-size: var(--backgroundSize);
   background-color: rgb(249, 242, 216);
   height: 100vh;
   width: 100%;
   background-repeat: repeat;
   animation: movingBackground linear infinite 6s;
}

@keyframes movingBackground {
   from {background-position: 0 0;}
   to {background-position: var(--backgroundSize) var(--backgroundSize);}
}

* {box-sizing: border-box;}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logo {
   display: flex;
   flex: 1;
   width: 550px;
   float: right;
   padding-top: 40px;
   padding-right: 50px;
   margin-left: 150px;
}

h2 {
   font-family: Proxima Soft, Arial Rounded MT Bold, sans-serif;
   font-weight: 700;
   font-style: normal;
   color: rgb(38, 88, 202);
   font-kerning: normal;
   margin: 0 auto;
   text-align: right;
   font-size: 42px;
   padding-top: 90px;
}

.link {
   display: flex;
   box-sizing: border-box;
   width: 26%;
   float: left;
   padding-left: 100px;
   margin-top: -75px;
   left: 0px;
   z-index: 0;
}

.homepage {
   width: 69%;
   height: auto;
   display: flex;
   flex: 1;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   float: left;
   position: relative;
}

.homepage .homepage-tunic {
   width: 186px;
   height: auto;
   margin-top: 50px;
   box-sizing: border-box;
   position: absolute;
   z-index: 0;
}

.homepage .circle {
   width: 150px;
   position: relative;
   top: 85px;
   left: 17px;
   z-index: -1;
}

.footer {
   left: 0;
   bottom: 0;
   position: fixed;
   width: 100%;
   text-align: right;
   background-color: rgb(0, 178, 60);
   padding-top: 25px;
   padding-bottom: 40px;
   z-index: -1;
 }

.footer .footer-text {
   font-family: Rubik, Helvetica, Arial, sans-serif;
   font-size: 14.5px;
   color: white;
   padding-right: 60px;
 }

 /*---SUB PAGE STYLE---*/

 .nav {
   width: 35%;
   height: auto;
   display: flex;
   flex: 1;
   flex-direction: row;
   justify-content: space-around;
   align-items: right;
   float: right;
   padding-top: 56px;
   position: relative;
 }

 .nav .nav-tunic {
   width: 120px;
   height: auto;
   box-sizing: border-box;
   position: absolute;
   z-index: 0;
 }

 .nav .nav-circle {
   width: 90px;
   position: relative;
   z-index: -1;
   top: 25px;
   left: 17px;
 }

 .description {
   width: 50%;
   height: auto;
   display: flex;
   flex: 1;
   flex-direction: column;
   align-items: left;
   margin: auto;
 }

 .logo-sub {
   display: flex;
   flex: 1;
   width: 550px;
   float: right;
   padding-top: 40px;
   padding-right: 50px;
   margin-left: 25px;
}

.link-sub {
   display: flex;
   box-sizing: border-box;
   width: 26%;
   float: left;
   padding-left: 100px;
   margin-top: -95px;
   left: 0px;
}

h3 {
   font-family: Proxima Soft, Arial Rounded MT Bold, sans-serif;
   font-weight: 700;
   font-style: normal;
   font-kerning: normal;
   font-size: 36px;
   color: rgb(38, 88, 202);
   margin-left: -50px;
   margin-bottom: -5px;
   margin-top: 25px;
}

.des-style {
   font-family: Rubik, Helvetica, Arial, sans-serif;
   font-size: 2.5vh;
   line-height: 4vh;
   color: white;
   background-color: rgba(0, 0, 0, 70%);
   padding: 35px;
   border-radius: 25px;
}

